<head>
  <link rel="stylesheet" href="/styles/footer-style.css" />
</head>

<footer>
    <p>&copy; Pranav Kambhampati</p>

    <address>
        <p>
            Contact me at: 
            <a href="mailto:pkambhampati@ucsd.edu">pkambhampati@ucsd.edu</a>
        </p>
        
    </address>
</footer>